@import './_saved.scss';
@import './_wallet.scss';
@import './_wallet-system.scss';
@import './_user-saved.scss';
@import './_certificates.scss';
@import './_liked.scss';
@import './_user_submitted_assignments.scss';
@import './_user_test_results.scss';
@import './_test_detail_modal.scss';
@import './_assignment_detail_modal.scss';
@import './_user_courses.scss';
@import '../_user_saved_reels.scss';
@import '../_user_reel_view_modal.scss';
@import '../_user_likes_comments.scss';
@import "_student_classrooms";
@import "_student_stream";
@import "_student_questions";
@import "_student_attendance";
@import "_student_classroom_tab_selector";
@import "_student_classrooms_tab_selector";