// ZiyoFlix - VAAAUUU Level Design System
@import './design_system.scss';
@import './variables.scss';

// Import Component Styles
@import './pages_common_styles/pages_common.scss';
@import './components_common_styles/components_common.scss';

// Sukunat - Meditatsiya Taymeri
@import '../components/meditation/sukunat.scss';